* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    background-color: #FFFFFF;
}

/* .header {
    background-color: #FFFFFF;
} */

.header__main {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.header__logo {
    margin-bottom: 20px;
    margin-top: 15px;
}

.logo i {
    padding: 13px;
    border-radius: 100%;
    background-color: #002146;
    color: #FDC800;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    margin-top: 3px;
}


.title a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #1D1B2D;
}

.header__menu {

    margin-left: 20px;
}

.header__menu ul li {
    display: inline;
    margin-right: 20px;

}

.header__menu ul a {
    text-decoration: none;
    color: #1D1B2D;
    font-size: 17px;
    font-weight: 600;
}

.carousel {
    background-image: url(../img/2.jpg);
    height: 650px;
    background-size: cover;
}



.campus__main {
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

.campus__title {
    width: 50%;
    float: left;
    padding-right: 70px;
}

.campus__title h1 {
    font-weight: bold;
    margin-bottom: 35px;
}

.campus__title p {
    color: #797979;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400px;
}

.campus__title button {
    color: #002146;
    background-color: #FDC800;
    font-weight: bold;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}


.campus__img {
    width: 50%;
    float: left;
}

.campus__img img {
    width: 607px;
    height: auto;
    background-size: cover;
}

.activities {
    margin-top: 50px;
    background-color: #F6F6F6;
}

.activities__main {
    width: 80%;
    margin: auto;

}

.activities__title {
    width: 25%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;

}

.activities__item {
    width: 25%;
    float: left;
    font-size: 60px;
    font-weight: bolder;
    color: #212529;
}

.activities__item1 {
    width: 75%;
    float: left;
    margin-top: 10px;
    color: #1D1B2D;

}

.activities__item1 ul {
    list-style: none;
}

.activities__item1 ul li {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: lighter;
}

.events__main {
    width: 82%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.events__title {
    width: 25%;
    float: left;
    margin: auto;
    text-align: center;


}

.events__item {
    background-color: #002146;
    margin: 15px;
    padding: 45px 60px;
    color: #F6F6F6;
    border-radius: 5px;
}

.events__item i {
    font-size: 40px;
    margin-bottom: 15px;
}

.events__item p {
    font-size: 18px;
}

/* .posts {
    margin-top: 80px;
    background-color: #F6F6F6;
}

.posts__main {
    width: 80%;
    margin: auto;
}

.posts__latest {
    width: 50%;
    float: left;
}

.posts__latest h1 {
    margin-bottom: 60px;
    margin-top: 100px;

}

.posts__latest__ {

    background-color: #FFFFFF;
}

.posts__latest__title {
    margin-top: 20px;
    height: 150px;
    width: 95%;
    border-radius: 5px;
}

.posts__latest__img {
    width: 35%;
    float: left;

}

.posts__latest__img img {
    width: 160px;
    height: auto;
    background-size: cover;
    margin: 20px 20px;
    border-radius: 5px;
}

.posts__latest__item h2 {
    padding-top: 15px;
    padding-bottom: 5px;
}

.posts__latest__item span {

    color: #939393;
}

.posts__latest__item p {
    padding-top: 20px;
    color: #585858;
}

.btn__posts {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #020202;
    border: none;
    background-color: #FDC800;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 305px;
}

/* event */
/* 
.posts__event {
    width: 50%;
    float: left;

}

.posts__event h1 {
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.posts__event__title {
    background-color: #FFFFFF;
    margin-top: 20px;
    height: 200px;
    margin-left: 40px;

}

.posts__event__calendar {
    width: 15%;
    float: left;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.posts__event__calendar__day {
    width: 80px;
    background-color: #FDC800;

}

.posts__event__calendar__day h1 {
    text-align: center;
}

.posts__event__calendar__year h3 {
    background-color: #002146;
    color: #FFFFFF;
    height: 30px;
    width: 80px;
    padding-top: 5px;
}

.posts__event__title__item {}


.btn__events {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #020202;
    border: none;
    background-color: #FDC800;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 509px;
} */

.contact {
    background-color: #002146;
    color: #FFFFFF;
}

.contact__main {
    width: 80%;
    margin: auto;

}

.contact__list {
    width: 33.3333333%;
    float: left;
    margin-top: 40px;
    margin-bottom: 35px;
}

.contact__list h2 {
    margin-bottom: 20px;
}

.contact__list p {
    margin-bottom: 10px;
}

.contact__list p i {
    color: #FDC800;
}

.contact__list ul {
    list-style: none;
}

.contact__list ul li {
    margin-bottom: 10px;
}



.footer {
    background-color: #002146;

}

.footer__main {
    width: 80%;
    margin: auto;
    color: #FFFFFF;
    font-size: 16px;
}

.footer__main hr {
    color: #454545;
    width: 100%;

}

.footer__main p {
    margin-top: 20px;
    padding-bottom: 50px;
}

.footer__main p span {
    color: #797979;
}