* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    background-color: #FFFFFF;
}

/* .header {
    background-color: #FFFFFF;
} */

.header__main {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.header__logo {
    margin-bottom: 20px;
    margin-top: 15px;
}

.logo i {
    padding: 13px;
    border-radius: 100%;
    background-color: #002146;
    color: #FDC800;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    margin-top: 3px;
}


.title a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #1D1B2D;
}

.header__menu {

    margin-left: 20px;
}

.header__menu ul li {
    display: inline;
    margin-right: 20px;

}

.header__menu ul a {
    text-decoration: none;
    color: #1D1B2D;
    font-size: 17px;
    font-weight: 600;
}

.carousel {
    background-image: url(../img/2.jpg);
    height: 650px;
    background-size: cover;
}



.campus__main {
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

.campus__title {
    width: 50%;
    float: left;
    padding-right: 70px;
}

.campus__title h1 {
    font-weight: bold;
    margin-bottom: 35px;
}

.campus__title p {
    color: #797979;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400px;
}

.campus__title button {
    color: #002146;
    background-color: #FDC800;
    font-weight: bold;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}


.campus__img {
    width: 50%;
    float: left;
}

.campus__img img {
    width: 607px;
    height: auto;
    background-size: cover;
}

.activities {
    margin-top: 50px;
    background-color: #F6F6F6;
}

.activities__main {
    width: 80%;
    margin: auto;

}

.activities__title {
    width: 25%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;

}

.activities__item {
    width: 25%;
    float: left;
    font-size: 60px;
    font-weight: bolder;
    color: #212529;
}

.activities__item1 {
    width: 75%;
    float: left;
    margin-top: 10px;
    color: #1D1B2D;

}

.activities__item1 ul {
    list-style: none;
}

.activities__item1 ul li {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: lighter;
}

.events__main {
    width: 82%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.events__title {
    width: 25%;
    float: left;
    margin: auto;
    text-align: center;


}

.events__item {
    background-color: #002146;
    margin: 15px;
    padding: 45px 60px;
    color: #F6F6F6;
    border-radius: 5px;
}

.events__item i {
    font-size: 40px;
    margin-bottom: 15px;
}

.events__item p {
    font-size: 18px;
}


.post {
    background-color: #F6F6F6;
}

.post__main {
    width: 80%;
    margin: auto;

}

/* post__latest */
.post__latest {
    width: 48%;
    float: left;
    margin-right: 20px;

}

.post__latest h1 {
    margin-bottom: 40px;
    margin-top: 80px;
}

.post__latest__nav {
    height: 185px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

.post__latest__img {
    width: 35%;
    float: left;
}

.post__latest__img img {
    width: 200px;
    border-radius: 5px;
    margin: 20px;
}

.post__latest__title {
    width: 65%;
    float: left;
    padding: 20px 50px 20px 30px;
}

.post__latest__title h2 {
    color: #1D1B2D;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.post__latest__title span {
    color: #939393;


}

.post__latest__title p {
    padding-top: 14px;
}

.post__latest__btn {
    width: 100px;
    height: 40px;
    text-align: center;
    color: #020202;
    border: none;
    background-color: #FDC800;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0 80px 485px;

}

/* post__events */
.post__events {
    width: 48%;
    float: left;
    margin-left: 28px;
}

.post__events__nav {
    height: 185px;
    padding: 20px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

.post__title {
    margin-bottom: 40px;
    margin-top: 80px;
}

.post__events__calendar {
    width: 18%;
    float: left;
    text-align: center;
    background-color: #FDC800;
    height: 100px;
    border-radius: 5px;
}

.post__events__calendar h1 {
    padding-top: 15px;
}

.post__events__calendar p {
    background-color: #002146;
    color: #FFFFFF;
    margin-top: 20px;
    height: 35px;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.post__events__title {
    margin-left: 120px;
}

.post__events__title h2 {
    color: #1D1B2D;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;

}

.post__events__title p {
    color: #939393;
    line-height: 23px;
    margin-bottom: 10px;
}

.posts__event__title__hour {
    border-right: 2px solid #BDBDBD;
    padding-right: 15px;
}

.posts__event__title__country {
    padding-left: 15px;
}

.post__post__btn {
    width: 100px;
    height: 40px;
    text-align: center;
    color: #020202;
    border: none;
    background-color: #FDC800;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0 80px 485px;
}

/* contact */

.contact {
    background-color: #002146;
    color: #FFFFFF;
}

.contact__main {
    width: 80%;
    margin: auto;

}

.contact__list {
    width: 33.3333333%;
    float: left;
    margin-top: 40px;
    margin-bottom: 35px;
}

.contact__list h2 {
    margin-bottom: 20px;
}

.contact__list p {
    margin-bottom: 10px;
}

.contact__list p i {
    color: #FDC800;
}

.contact__list ul {
    list-style: none;
}

.contact__list ul li {
    margin-bottom: 10px;
}



.footer {
    background-color: #002146;

}

.footer__main {
    width: 80%;
    margin: auto;
    color: #FFFFFF;
    font-size: 16px;
}

.footer__main hr {
    color: #454545;
    width: 100%;

}

.footer__main p {
    margin-top: 20px;
    padding-bottom: 50px;
}

.footer__main p span {
    color: #797979;
}